$color-primary: #fd267a;
$color-primary-dark: #b91c1c;
$color-primary-light: #ff7854;

$color-gray: #eee;
$color-warn: red;
$color-success: green;
$color-black: black;
$color-focus: #3b82f6;
$color-gray-dark: #9ca3af;
$color-white: white;
